@font-face {
    font-family: 'icomoon';
    src: url('/fonts/icomoon.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-umbrella:before {
    content: "\e900";
}
.icon-thermometer:before {
    content: "\e901";
}
.icon-raindrop:before {
    content: "\e902";
}
.icon-umbrella2:before {
    content: "\e903";
}
.icon-umbrella3:before {
    content: "\e904";
}
.icon-thermometer-half:before {
    content: "\e905";
}

