@font-face {
    font-family: 'Roboto Condensed';
    src: url('/fonts/RobotoCondensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

a {
  cursor: pointer;
}

body {
  margin: 20px;
}

.well {
  padding: 10px;
}

p {
  margin: 0;
}

.lead {
  margin-bottom: 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 2em;
}

.weather {
	display: flex;
	align-items: center;
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center;

	canvas {
		vertical-align: middle;
	}
	
	.today {
		div {
				display: inline-block;
				vertical-align: middle;
				text-align: left;
				font-size: 1.2em;
				line-height: 1;
			}
	}
}

.calendar {
	display: flex;
	align-items: center;

	i {
		font-size: 50px;
		margin-right: 10px;
	}

	.date {

	}

	.title {
		font-size: 1.2em;
		font-family: 'Roboto Condensed', sans-serif;
	}
}

.sauna {
	border-left: 1px solid #eee;

	display: flex;
	align-items: center;

	i {
		font-size: 50px;
		margin-right: 10px;
	}

	.temperature {
		font-size: 1.2em;
	}
}