<!DOCTYPE html>
<html lang="de" ng-app="GekuInfodisplay" ng-controller="DisplayCtrl as display">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>GeKu Infodisplay</title>

  <link href="css/bootstrap.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">

</head>
<body>

<div class="container">

  <div class="row">
    <div class="col-sm-6" ng-cloak>

      <h1>Infodisplay</h1>

      <div class="form-group">
        <label for="asdf">Enter Message</label>
        <input type="text" class="form-control" id="asdf" ng-model="display.message">
      </div>

      <div class="form-group">
        <button class="btn btn-success" ng-click="display.createMessage()">Absenden</button>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">

      <h1>Messages <span class="badge">{{ display.messages.length }}</span></h1>

      <div class="well" ng-repeat="message in display.messages | orderBy : '-id'">
        <div class="pull-right"><a ng-click="display.deleteMessage(message)">X</a></div>
        <p class="text-muted"><small>{{ message.createdAt | date: 'EEEE, d. MMMM y - HH:mm:ss' }}</small></p>
        <p>{{ message.id }}: {{ message.content }}</p>
      </div>

    </div>
  </div>

</div>

<script src="js/libraries.js"></script>
<script src="js/app-complete.js"></script>

</body>
</html>